body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.discord{
    color: darkblue;
}
.youtube{
    color: red;
}
.twitch{
    color: blueviolet;

}
.instagram{
    color: #dd2a7b;
}
.donate{
    color: lime;
}

li {
    text-decoration: none;
}
